* {
    margin: 0 auto;
    padding: 0;
}

/* ---------------- cabeçalho ----------------*/

header {
    background-color: #aca5bd0f;
    margin:  0px auto;
    display: flex;
    font-family: 'Montserrat';
    font-size:14px;
    height: 90px;
}

header img {
    width: 100px;
    height: 100%;;
    margin: 0px auto;
}

header div {
    box-sizing: border-box;
    display: flex;
    width: 600px;
    height: 85px;
    margin:auto;
}

header h3 {
    display: inline-block;
    margin-left: 17px;
    line-height: 85px;
}

/* ---------------- fim do cabeçalho ---------------- */

body { 
    height: auto;
    width: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}

/* ---------------------- inicio "Home" ----------------------*/

.container { 
    padding-top: 43px;
    padding-left: 124px;
    /*margin-bottom: 30px;*/
    width: 1395px;
    height: 617px;
}

.fundo {
    background-image: url(Página\ 1.svg);
    background-size: 1520px;
    position: relative;
}

.nome{
    font-weight: 900;
    color: #293651;
    font-size: 38px;
    padding-top: 20px;
}

.button {
    font-family: 'Montserrat', sans-serif;
    background-color: #00a78e;
    border: 0px; 
    border-radius: 10px;
    height: 50px;
    padding-left: 33px;
    padding-right: 33px;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 200;
    margin-bottom: 13px;
}

.button:hover{
    background-color: #29dec2;
}

.ola {
    font-weight: 500;
    color: #07a78e;
    letter-spacing: 4px;
    font-size: 22px;
}

.qualificacoes {
    color: #293651;
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: 400;
    padding-top: 20px;
}

.paragrafo {
    color: #272727;
    font-size: 20px;
    line-height:28px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 95px;
    letter-spacing: 0px;
    font-weight: 400;
}
figure {
    margin:0;
    padding:0;
    border:0;
}

.foto {
    display: inline-block;
    position: relative;
    left: 710px;
    top: -195px;
    width: 350px;
}

/* ---------------------- fim "Home" ----------------------*/

/* ---------------------- inicio "Sobre mim" ----------------------*/

body section:nth-child(3) {
    background-color: #aca5bd0f;
    height: 617px;
}

.title_sobre_mim {
    display: inline-block;
    margin-bottom: 35px;
    position: relative;
    left: 767px;
    top: 80px;
    color: #272727;
}

#sobre_mim {
    display: inline-block;
    margin-bottom: 13px;
    color: #261447;
}

.paragrafo_sobre_mim {
    display: inline-block;
    position: relative;
    left:380px;
    top:200px;
    width: 650px;
    color: #272727;
    line-height: 1.7rem;
}

.barra {
    width: 510px;
    height: 10px;
    border-radius: 10px;
    background: linear-gradient(to right, #00a78e 90%,#d7d7d7 10%);
    position: relative;
    top: -65px;
    left: -15px;
    margin-left: 140px;
    margin-bottom: 25px;
}

.barra2 {
    width: 510px;
    height: 10px;
    border-radius: 10px;
    background: linear-gradient(to right, #00a78e 65%,#d7d7d7 10%);
    position: relative;
    top: -65px;
    left: -15px;
    margin-left: 140px;
    margin-bottom: 25px;
}

.barra3 {
    width: 510px;
    height: 10px;
    border-radius: 10px;
    background: linear-gradient(to right, #00a78e 85%,#d7d7d7 10%);
    position: relative;
    top: -65px;
    left: -15px;
    margin-left: 140px;
    margin-bottom: 25px;
}

.barra4 {
    width: 510px;
    height: 10px;
    border-radius: 10px;
    background: linear-gradient(to right, #00a78e 75%,#d7d7d7 10%);
    position: relative;
    top: -65px;
    left: -15px;
    margin-left: 140px;
    margin-bottom: 25px;
}

.porcentagem {
    width: 25px;
    position: relative;
    align-items: center;
    left: 530px;
    top: -5px;
    font-size: 20px;
    color: #272727;
}

.title_barra {
    display: inline-block;
    position: relative;
    left: 135px;
    top: -63px;
    font-family: 'Montserrat';
    font-size:18px;
    color: #261447;
    margin-bottom: 15px;
}

.icons {
    display: flex;
    margin: 50px auto;
}

body section svg {
    box-sizing: border-box;
}

/* ---------------------- fim "Sobre Mim" ----------------------*/

/* ---------------------- Inicio "Habilidades" ----------------------*/

section:nth-child(4) {
    background-color: rgba(255, 0, 0, 0.199);
    width: 1519px;
    height: 720px;
    display:inline-block;
    margin: auto;
}






























/* ---------------------- inicio "Projetos" ----------------------*/

.title_projetos{
    display: inline-block;
    width: 180px;
    height: 45px;
    margin: 20px 0px 0px 122px; 
    font-size: 38px;
    color: #261447;
}

.text_projetos {
    display: flex;
    letter-spacing: 1.5px;
    word-spacing: 2.5px;
    margin-left:124px;
    margin: 0px;
    text-align:center;
}
.title_box {
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    text-align: center;
}

.box {
    display: inline-block;
    width: 1400px;;
    position: relative;
    height: 720px;
}

/*.box_projetos {
    display: inline-block;
    box-sizing: border-box;
    background-color: #7871aa;
    border-radius:20%;
    margin: 25px 510px 25px 130px;
    padding: 12px;
    width: 360px;
    height: 290px;
    font-size: 18px;
    text-align: center;
}*/

/* ---------------------- fim "Projetos" ----------------------*/

.title_habilidades {
    margin-top: 40px;
    margin-left: 122px;
}