* {
    margin: 0;
    padding: 0;
}

body { 
    height: auto;
    width: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}

.logotipo img {
    margin:0;
    padding:0;
}

.logotipo{
    display: inline-block;
    text-align: left;
    width: 100px;
    margin-right: 530px;
}

/*.logotipo {
    display: inline-block;
    text-align: left;
    margin-right: 530px;
    margin-top: 30px;
    width: 100px;
}*/

.cabecalho {
    display: inline-block;
    text-align: right;
    font-family: 'Montserrat';
    font-size:16px;
    height: 85px;
    width: 1450px;
}

.experiencias {
    display: inline-block;
    text-align: right;
    margin-left: 15px;
}

.precos {
    display: inline-block;
    text-align: right;
    margin-left: 15px;
}

.portfolio {
    display: inline-block;
    text-align: right;
    margin-left: 15px;
}

.servicos {
    display: inline-block;
    text-align: right;
    margin-left: 15px;
}

.eu {
    display: inline-block;
    text-align: right;
    margin-left: 15px;
}

.home {
    display: inline-block;
    text-align: right;
    margin-left: 15px;
}

.container { 
    padding-top: 43px;
    padding-left: 124px;
    margin-bottom: 75px;
    width: 1395px;
    height: 617px;
}

.fundo {
    background-image: url(Página\ 1.svg);
    background-size: 1520px;
    position: relative;
}

.nome{
    font-weight: 900;
    color: #293651;
    font-size: 38px;
    padding-top: 20px;
}

.button {
    font-family: 'Montserrat', sans-serif;
    background-color: #00a78e;
    border: 0px; 
    border-radius: 10px;
    height: 50px;
    padding-left: 33px;
    padding-right: 33px;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 200;
    margin-bottom: 13px;
}

.button:hover{
    background-color: #29dec2;
}

.ola {
    font-weight: 500;
    color: #07a78e;
    letter-spacing: 4px;
    font-size: 22px;
}

.qualificacoes {
    color: #293651;
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: 400;
    padding-top: 20px;
}

.paragrafo {
    color: #272727;
    font-size: 20px;
    line-height:28px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 95px;
    /*word-spacing: 1px;*/
    letter-spacing: 0px;
    font-weight: 400;
}

figure {
    margin:0;
    padding:0;
    border:0;
}

.foto {
    display: inline-block;
    position: relative;
    left: 710px;
    top: -195px;
    width: 350px;
}

/*img {
    display: inline-block;
    position: relative;
    top: 0px;
    margin-left: 830px;
    margin-right: auto;
    margin-top: 10px;
    width: 280px;
}*/